
body{
    color: #40514e;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 30px auto 0 auto;
     font-family: 'Sacramento', cursive;
    font-size: 375% ;  /* 60 px // 3.75em  */ 
    color: #66BFBF;
}
p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #11999e;
    font-weight: normal;
}
.top{
    background-color: #e4f9f5;
    padding-top: 100px;
    position: relative;
}
.middle{
    margin: 100px 0;
      }
    
.end{
    /* color: #11999e;  */
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
.footer-link{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
.footer-link:hover{
    color: #eaf6f6;
}
.bottom-cloud{
    position:absolute;
    left: 450px;
    bottom: 300px;
}
.top-cloud{
    position:absolute;
    right: 450px;
    top:50px;
}
.c{
    /* height: 150px; */
    float: left;
    width: 20%;
    margin-right: 30px;
}
.wd{
    /* height: 150px; */
    width: 20%;
    float: right;
    margin-left: 30px;
}
.skills{
    
}
.skill-row{
    width:50%;
    margin:100px auto;
    text-align: left;
}
.int{
    width: 30%;
    margin: 0 auto;
}
hr{
    border: dotted #DCDCDC 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.msg{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 1000px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.copyright{
    color: #eaf6f6;
    padding: 20px 0;
}